<div class="wrapper">
  <div class="background"></div>

  <div class="login-form-container">
    <h2>Login</h2>
    <form>
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="Enter your username" />

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Enter your password" autocomplete="new-password"/>

      <div class="buttons">
        <button class="login-btn" (click)="doLogin()">Login</button>
        <button class="signup-btn" routerLink="/signup">Sign Up</button>
      </div>
    </form>
  </div>
</div>
