<div class="app-wrapper">
  <mat-toolbar class="toolbar">

    <!-- LEFT SECTION -->
    <div class="toolbar-left">
      <div class="logo">Movie App</div>
    </div>

    <!-- CENTER SECTION -->
    <div class="toolbar-center">
      <div class="buttons">
        <button routerLink="/home" class="nav-buttons" (click)="scrollToTop()">Home</button>
        <button routerLink="/home" class="nav-buttons" (click)="scrollToShowing()">Movies</button>
        <button routerLink="/home" class="nav-buttons">Theatres</button>
        <button routerLink="/home" class="nav-buttons">Releases</button>
      </div>
    </div>

    <!-- RIGHT SECTION -->
    <div class="toolbar-right">
      <button routerLink="/login" class="action-buttons" id="login-button" *ngIf="!userService.checkActive()">Login</button>
      <button routerLink="/profile" class="action-buttons" id="profile-button" *ngIf="userService.checkActive()">Profile</button>
      <button routerLink="/home"  class="action-buttons" id="login-button" *ngIf="userService.checkActive()" (click)="doLogout()">Logout</button>
    </div>

  </mat-toolbar>
</div>

<router-outlet></router-outlet>
