<div class="app-wrapper">
  <mat-toolbar class="toolbar">

    <div class="logo">Movie App</div>


    <span class="example-spacer"></span>

    <div class="buttons">
      <button routerLink="/home" class="nav-buttons"(click)="scrollToTop()"> Home </button>
      <button routerLink="/home" class="nav-buttons" (click)="scrollToShowing()"> Movies </button>
      <button routerLink="/home" class="nav-buttons"> Theatres </button>
      <button routerLink="/home" class="nav-buttons"> Releases </button>
    </div>

    <span class="example-spacer"></span>

    <div class="action">
      <button class="action-buttons"> Search </button>
      <button class="action-buttons" id="login-button"> Login </button>
    </div>

  </mat-toolbar>
</div>

<router-outlet></router-outlet>