<div class="wrapper">
  <div class="background"></div>

  <div class="login-form-container">
    <h2>Sign Up</h2>
    <form>
      <label for="fName">First name</label>
      <input id="fName" type="text" placeholder="Enter your first name" />

      <label for="lName">Last name</label>
      <input id="lName" type="text" placeholder="Enter your last name" />

      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Enter your email" />

      <label for="phone">Phone number</label>
      <input id="phone" type="tel" placeholder="Enter your phone number" />

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Enter your password" />

      <label for="repassword">Confirm password</label>
      <input id="repassword" type="password" placeholder="Confirm your password" />

      <div class="buttons">
        <button routerLink="/signup" type="button" class="signup-btn">Sign Up</button>
      </div>
    </form>
  </div>
</div>
